[2015-12-28 17:57] ssj71 opened #1 "better keyboard support"
somebody else created a similar windows driver, could give insight on the operation of wii keyboard.
https://github.com/martinjos/rb3_driver/blob/master/rb3_driver.c

[2015-12-28 23:16] randomas commented on #1
Might be worth writing to them and seeing if they're interested in
merging the projects, get one package for both win and lin.

Il 28/12/2015 18:57, ssj71 ha scritto:

[2015-12-29 06:13] janifr commented on #1
Should someone create a roadmap for further development? There might be some great ideas to make this (and Martins's) project even more useful. What I have in my mind is a multiplatform GUI and configurable actions for the keyboard. For example mapping pitch bend to some other controller, transposition, and maybe creating series of pitch bend events simulating the gargle effect trick of a real gui

[2015-12-29 07:45] randomas commented on #1
I'm all for it, I've always wanted to ad a simple multiplatform gui (pygtk,
qt?) with a simple wav trigger to play around without having to go through
all the midi mapping... Unfortunately I barely have time to look into
things anymore which is why I'm gratefull other people have interest in the
project too.

Matt.
Il 29/dic/2015 07:13, "janifr" notifications@github.com ha scritto:

[2016-01-18 18:22] ssj71 opened #2 "Wii rockband drum, "could not find/open device""
From user Zac Townsend:

I just picked up a Wii Rockband drum controller the other day... it's USB, and I believe it's the original one with only one jack (for bass drum). No cymbals.

Anyways, I have been trying hard to get this thing to work as a midi controller. I got your program to compile, version 0.5, first using cmake and then using the other method I read in this forum (gcc main.c rbkit.c

[2016-01-18 18:31] ssj71 commented on #2
Hi Zac:

We may have added support for this since moving to github. Try downloading from here and test, and if that doesn't work then we've just never had a user with the same device as you have. Please run in a terminal the command "lsusb" and post the output here. We'll add support for it.

Thanks!

[2016-01-18 23:06] randomas commented on #2
I checked the code because I remembered we had added support for a Wii drumkit, and in fact it's in there, but probably it's for a rb3 or 2 kit and it sounds like yours is an RB 1 kit.
the lsusb command will tell us if it's a different kit or if we have to hunt for a different issue.

[2016-03-01 09:07] gavox-z opened #3 "Harmonix Guitar Hero Drum Kit (X-Box) **DebugOutputProvided**"
Thanks _so much_ for your hard work - this is turning into a really great Hacker'Z'app.   Seriously, thank you again.  The output etc below was generated using the Harmonix Guitar Hero Drum Kit (Model # 822149) for X-Box .

It's a pleasure to be a part of this project (in the most miniscule possible way, but still).  Please e-mail me at "gbrwcky@uvic.ca" to let me know when support has been added

[2016-03-01 16:49] randomas commented on #3
Thank you for the kind words gavox!
It looks like your kit should already work/be supported. It looks like an original rb1 kit (which unfortunately does not do velocity AFAIK).
Could you please detail the steps you use to try and get it working with jack and hydrogen, and which version you're using.
Also thanks for sending the debug code, could you please indicate what button/pad (eg, red, yellow,

[2016-03-05 01:01] gavox-z commented on #3
Hi - should have that for you in the next day or sø!

Gavin

[2017-03-11 23:28] Franr opened #4 "Harmonix Drumkit PSIII/Wii compatible"
Hey guys, amazing work here. Tried it with my drumkit but didn't work.

from `lsusb`
[code]

The same issue than here: https://github.com/rbdrum2midi/rbdrum2midi/issues/2
Checking the code, there is no mapping for `0x0005` product id.
Tried changing it on the wii one, but then:
[code]
Almost! haha

P.D: the drum have 4 pads, a pedal, and a Wii/PS3 switch on its back.

[2017-03-12 01:07] randomas commented on #4
Have you tried switching it to ps3?
does the lsusb change change if you do?
Have you tried the -rb1 option?

[2017-03-12 01:16] randomas commented on #4
Hmm I suspect there's more than one Wii kit version ...

[2017-03-12 01:24] Franr commented on #4
Switching it to ps3 changed the id to 0210 (PS3, good) but failed with a `init_capture failed`.
Also tried with the -rb1 flag, the same.

[2017-03-12 01:25] Franr commented on #4
The error on the init_capture is -1 (IO error)

[2017-03-12 16:24] randomas commented on #4
To use rbdrum2midi without root priviledges create a rules file in /etc/udev/rules.d/

file 90-drumkit.rules:

SUBSYSTEM=="usb", ATTR{idVendor}=="12ba", ATTR{idProduct}=="0210", GROUP="audio", MODE="0664"
SUBSYSTEM=="usb", ATTR{idVendor}=="12ba", ATTR{idProduct}=="0120", GROUP="audio", MODE="0664"
SUBSYSTEM=="usb", ATTR{idVendor}=="1bad", ATTR{idProduct}=="0003", GROUP="audio", MODE="0664"
SUBSYST

[2017-12-01 19:43] miniTilK opened #5 "Wii Rock Band 1 Drumset"
Hi,

First I want to congratulate you for this project. Thank to you, I was able to transform an old plastic game accessory into a electronic drum set for my children, and they love it. And it is working on arm cpu with very few dependencies.

I have a Wii RockBand 1 drumset, and i confirm what has been said previously:
I needed to change this line:
*devh = libusb_open_device_with_vid_pid(NULL, 0x

[2018-02-01 02:38] jferiago commented on #5
Hello miniTilK

I was able to detect my wii rockband 1 , but i got no sound...

i added my user to audio group but i need to run as root to detect...

did you were able to get sound?

Thanks

$ /usr/local/bin/rbdrum2midi  -rb1 -dbg
Could not find/open device, try running as root?
$ sudo /usr/local/bin/rbdrum2midi  -rb1 -dbg
claimed interface
Setting up alsa
client:port = 128:0
Returning 1
Debug Mo

[2018-02-01 08:10] miniTilK commented on #5
Yes, i was able to have some sound as audio user.

May be the issue here is not about the right to access the audio, but the right to access the "joystick".

In my side, I created a udev rule like that :
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="1bad", ATTR{idProduct}=="0005", GROUP="audio", MODE="0664"

To be sure  that audio user has the right to access the drumset.

It is also indicated

[2018-02-01 15:46] randomas commented on #5
Hi there and thank you for using our project!
Unfortunately I havn't handled the code in years and I have a bad memory ... ;-p

In order to use the code as non-root user you need to set the usb permissions as indicated.

As far as sound goes, in order to get sound you need to route the midi signals generated by rbdrumtomidi to a midi drumkit. This is done in our case using qjackctl and hydrogen. T

[2018-02-01 15:49] ssj71 commented on #5
Keep in mind this only outputs midi, so it doesn't generate any sound. Instead you must connect it to some sound generator like a sampler or synthesizer. Hydrogen, qsampler, or linux sampler are popular options.

Thanks for the feedback @miniTilK I haven't had much time to update the project. I think I've added the changes, but want to verify before I push: the drum mapping all works then?

@jferi

[2018-02-01 15:58] ssj71 commented on #4
@Franr any update on this issue? I just pushed an update that should theoretically make it work in WII mode.

[2018-02-01 16:04] ssj71 commented on #3
@gavox-z sorry its been forever but I'm taking a minute to try to update this project. Unfortunately your kit sends identical information for the cymbals as the pads, so there's no way to send different notes for the two. Are you still interested in using this project?

[2018-02-01 16:05] ssj71 commented on #2
I think this is now resolved with the latest changes to support wii rb1 kits.

[2018-02-01 16:05] #2 closed

[2018-02-01 16:08] ssj71 commented on #1
well, I think as is we've got good support for the drumkits and partial support for guitars and keyboards now (which I don't think will be oft-used features). Since it seems none of us have a lot of time I think we'll close this issue and try to focus on just supporting users as they report issues. Feel free to re-open if you oppose.

[2018-02-01 16:08] #1 closed

[2018-02-01 16:54] Franr commented on #4
Sorry but don't have the wii drums with me anymore. Will close the issue.

[2018-02-01 16:54] #4 closed

[2018-02-01 17:01] ssj71 commented on #4
ok thanks for the update!

[2018-02-03 05:31] jferiago commented on #5
miniTilK , randomnas , ssj71... thanks for your answer, I really appreciate it...

Here is what I do today...

- Installed a fresh ubuntu
- Disabled pulseaudio
- Installed jack and qjackctl
- Added the lines to 90-drumkit.rules
- I was able to start  /usr/local/bin/rbdrum2midi  -v (was tested adding -rb1 parameter too, same result)
- started hydrogen
- started qjacktl and connected hydrogen to dru

[2018-02-03 12:01] randomas commented on #5
Is hydrogen registering any hits? If it is, the issue is hydrogen not connected to Jack's audio out (improbable), otherwise there's an issue with the midi mapping. Iether the drumkit you're using in hydrogen is mapped weirdly (try Yamaha vintage kit) or your rb kit is one we've never seen and we need to write a mapping for it.

[2018-02-03 15:43] jferiago commented on #5
Hydrogen is connected to jack, because if I create a simple pattern on the GUI and press "play", or i click on "snare" or "hi hat" text,  i get sound...

I tried with yamaha vintage kit, same results

On Hydrogen:

Preferences-> Midi system
- Midi Driver: Alsa
- Input Game Drumkit port 2
- Channel: all

Debug -> audio engine info i have:
- Midi Input: AlsaMidiDriver
- Connected to: Game Drumkit po

[2018-02-03 18:39] randomas commented on #5
In hydrogen open the mixer, if the hits are being received you see them in
real time.

Il 03 Feb 2018 4:43 PM, "jferiago" <notifications@github.com> ha scritto:

[2018-02-05 19:55] ssj71 commented on #5
I haven't used hydrogen much, is it a midi channel issue? I think by default we send on channel 10 IIRC. Don't forget the -rb1 parameter in rbdrum2midi too.

[2018-12-06 20:49] ssj71 commented on #3
Please re-open if this issue still applies to you

[2018-12-06 20:49] #3 closed

[2018-12-06 20:51] ssj71 commented on #5
I'm closing this as it seems the title issue is resolved. If you still have problems, please open a new issue for it. Thanks.

[2018-12-06 20:51] #5 closed

[2020-03-06 20:12] kicker0429 opened #10 "XBox 360 Wireless Drum Kit"
lsusb: Bus 008 Device 002: ID 045e:0719 Microsoft Corp. Xbox 360 Wireless Adapter

Red Pad:
000100f0 00138020 00005357 00000000 00000000 00000000 000000 kit type=1
000000f0 00000000 00000000 00000000 00000000 00000000 000000 kit type=1
000100f0 00130000 00000000 00000000 00000000 00000000 000000 kit type=1
000000f0 00000000 00000000 00000000 00000000 00000000 000000 kit type=1

Yellow Pad:
000100f

[2020-03-06 20:49] kicker0429 commented on #10
I changed line 54 in main.c to *devh = libusb_open_device_with_vid_pid(NULL, 0x045e, 0x0719); so that I could get the debug info.

[2020-03-07 07:53] kicker0429 commented on #10
Left Kick Pedal is Hi-Hat Open/Close and Right Kick Pedal is Bass Drum.  Please let me know if you need additional information.

[2020-03-07 08:12] kicker0429 opened #11 "XBox 360 Wireless Guitar"
lsusb: Bus 008 Device 002: ID 045e:0719 Microsoft Corp. Xbox 360 Wireless Adapter

Green Button:
000100f0 00130010 7a000000 00000080 00000000 00000000 000000 kit type=1
000000f0 00000000 00000000 00000000 00000000 00000000 000000 kit type=1
000100f0 00130000 7a000000 00000080 00000000 00000000 000000 kit type=1
000000f0 00000000 00000000 00000000 00000000 00000000 000000 kit type=1

Red Button:
00

[2020-03-09 02:01] kicker0429 commented on #10
Has this project been abandoned?

[2020-03-09 06:59] kicker0429 commented on #10
@ssj71 , sorry to bother but are you still maintaining the rbdrum2midi project?

[2020-03-09 18:19] ssj71 commented on #10
I haven't worked on it for some time but I'll see if I can get your changes in sometime this week. Thanks for the contribution, sorry for the silence, things have just been busy.

[2020-03-09 18:57] ssj71 commented on #10
I went ahead and did the changes during lunch. If you can grab the rbpro branch and rebuild and see if that works for you, let me know then I'll merge it to master. I made the assumption this is a "rockband pro" drumset, do you know if that is correct?
Your set is the first I've encountered that sends 2 bytes of velocity information (describing how hard you hit). Unfortunately at this time we're o

[2020-03-09 19:00] ssj71 commented on #11
this has the same USB ID as the drumkit, so we'll have to add a flag for you to pass in to differentiate between the two.

[2020-03-09 19:28] ssj71 commented on #11
ok, I threw something together you can test (again in the rbpro branch). There are likely some bugs, as the whammy bar again has more data than the controllers I've dealt with previously, but you should be able to pass the -xbgtr flag in the command line options for it to treat the device as a guitar rather than the drums. Let me know how it goes.

[2020-03-09 22:44] kicker0429 commented on #11
gdb ./rbdrum2midi

(gdb) r -xbgtr
Starting program: /home/erik/rbdrum2midi -xbgtr
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/usr/lib/libthread_db.so.1".
[New Thread 0x7ffff74b5700 (LWP 1661)]
claimed interface
error in drum type! 11

Thread 1 "rbdrum2midi" received signal SIGSEGV, Segmentation fault.
0x00007ffff7e6b170 in libusb_submit_transfer () from /usr/lib

[2020-03-09 22:59] ssj71 commented on #11
Ah I missed a spot. Please pull and try again, we'll see what the next error is. :)

[2020-03-09 23:25] kicker0429 commented on #10
@ssj71 , the drums work great!  Do the cymbals send the same signals as the pads?  Based on my debugging data, it looks like we should be able to differentiate them.  If not, then it looks like we are done.

[2020-03-09 23:29] kicker0429 commented on #10
I noticed that the USB data looks a bit different when I play without the -dbg switch.  Would it help if I provided it as well?

[2020-03-09 23:46] kicker0429 commented on #11
@ssj71 , the program runs and there is USB output when I press the keys, but Hydrogen does not register any MIDI input.  I'm not sure how to troubleshoot that, so please let me know to proceed.

[2020-03-10 04:31] ssj71 commented on #10
No actually looking at it I just made a mistake on the change. The cymbals just have one bit that is set when you hit them instead of the matching pad.
[code]

I put a 8 when I should have put 7. Go ahead and try again with the latest changes.

[2020-03-10 04:43] ssj71 commented on #11
It could be that you are sending the midi on the wrong channel for what Hydrogen is set to. Have you used a midi sniffer like kmidimon or jack_midi_dump (if you are using jack audio)?  That will show us if any midi signal is coming out, rather than trying to connect it to hydrogen and making sure h2 is also configured correctly.

[2020-03-10 18:29] kicker0429 commented on #11
@ssj71 , kmidimon has not been updated to KDE5, so I was not able to compile it.  jack_midi_dump is probably my best bet, but I don't know how to use it.  The syntax is jack_midi_dump [ OPTIONS ] [CLIENT-NAME].  I tried jack_midi_dump "Game Drumkit Client" but it created a new JACK port with that name instead of monitoring the existing one.

[2020-03-10 18:38] kicker0429 commented on #10
@ssj71 , first the good news:  Changing the cymbal flag allows me to play different MIDI sounds with the pads and cymbals.
Now for the things that aren't working:
1. Depending on how hard I strike the pads and cymbals, it registers different MIDI sounds.  Do you want me to send you data with light, medium, and hard strikes so that you can see the USB output?
2.  I am having a difficult time with t

[2020-03-10 20:22] ssj71 commented on #10
1. yes that sounds like the best thing
2. just run it like you did in the first post here and press the each pedal individually and then press them both together and we'll see if anything pops out to help me figure it out. It's quite possible I made some little mistake like I did with the cymbals.

[2020-03-10 20:26] ssj71 commented on #11
you'll need a connection manager app like qjackctl or Catia (https://kx.studio/Applications:Catia) to manage connect the two jack apps (rbdrum2midi and the monitor). You can also do it through the command line using jack_connect but I don't do it that way myself and I can't remember the exact useage. There's also a gmidimon and I imagine various others, those are just the 2 I use most (kmidimon fo

[2020-03-10 22:29] kicker0429 commented on #11
@ssj71 , I connected rbdrum2midi and the monitor with qjackctl and confirmed that there is not any MIDI output.

This is the rbdrum2midi output:
./rbdrum2midi -xbgtr -r 38 -y 45 -b 43 -g 41 -o 36 -a -v
XBox 360 Wireless Rockband Pro kit found
claimed interface
Setting up alsa
client:port = 130:0
Returning 1
Rock Band Guitar connected.

It looks the same as when I connect my XBox 360 wired guitar,

[2020-03-10 22:41] kicker0429 commented on #10
This is the data from different drum strikes:
000100f0 00138020 0000ff7f 00000000 00000000 00000000 000000 kit type=3
000000f0 00000000 00000000 00000000 00000000 00000000 000000 kit type=3
000100f0 00130000 00000000 00000000 00000000 00000000 000000 kit type=3
000000f0 00000000 00000000 00000000 00000000 00000000 000000 kit type=3

000100f0 00138020 0000ff2d 00000000 00000000 00000000 000000 kit

[2020-03-10 22:42] ssj71 commented on #11
since you are using jack audio I would recommend you use the -j option for a jack-midi output rather than -a which makes an alsa midi output. It should send messages any time you press the whammy bar or when you are holding a colored button and press the pick otherwise it will not send any messages. Check if that -j makes any difference.

[2020-03-10 22:45] kicker0429 commented on #10
This the pedal data:
Hi-Hat only:
000100f0 00134000 00000000 00000000 00000000 00000000 000000 kit type=3
000000f0 00000000 00000000 00000000 00000000 00000000 000000 kit type=3
000100f0 00130000 00000000 00000000 00000000 00000000 000000 kit type=3
000000f0 00000000 00000000 00000000 00000000 00000000 000000 kit type=3

Bass Drum only:
000100f0 00130001 00000000 00000000 00000000 00000000 000000

[2020-03-10 22:52] kicker0429 commented on #10
@ssj71 , it just occurred to me, but wouldn't the MIDI output be just as important as the USB output?  How about I show the JACK monitor output when I strike the pads with different velocities and locations?  It might matter as much "WHERE" I strike the pad as much as how hard I hit it.

[2020-03-10 22:54] ssj71 commented on #10
Hmm, looks like the pedals should be working.

Yes, if you can add the midi output it might help. Also knowing which hits are hard medium or soft will help a lot too.
Typically these have a 1 inch-ish sensor inside and yes if you hit closer to the sensor it will be a stronger hit than hitting far away from the sensor.

[2020-03-10 23:04] ssj71 commented on #10
if you run with -v but NOT -dbg do the pedals generate lines on the output? That will give us a clue if they're working as expected. I might have mixed up the right/left/orange/black. Without actually having access to the device this stuff is easy to mess up.

[2020-03-10 23:39] kicker0429 commented on #11
@ssj71 , I tried with -j and there still is no output.  Since I care more about the drums working properly than the wireless guitar, maybe we can focus on that instead for now.

[2020-03-11 02:05] kicker0429 commented on #10
./rbdrum2midi -r 38 -y 45 -b 43 -g 41 -ycy 46 -bcy 49 -gcy 51 -ob 35 -bkb 44 -htdm ycy -htp bkb -hto 46 -htc 42 -a -v

Hi-Hat Pedal:
                     VV
00 00 00 00 00 00 00 64
000100f0 00134000 00000000 00000000 00000000 00000000 000000 kit type=3
000000f0 00000000 00000000 00000000 00000000 00000000 000000 kit type=3
000100f0 00130000 00000000 00000000 00000000 00000000 000000 kit type=3
000

[2020-03-11 17:12] ssj71 commented on #10
seems that way where its outputting notes, if you aren't getting sound its the sound generator (hydrogen)

[2020-03-11 19:59] kicker0429 commented on #10
Ok, so it appears that the pedals are working properly.  Now let's move to the pad sensitivity issue.

./rbdrum2midi -r 38 -y 45 -b 43 -g 41 -ycy 46 -bcy 49 -gcy 51 -ob 35 -bkb 44 -htdm ycy -htp bkb -hto 46 -htc 42 -j -v

Yellow cymbal:
   VV          VV
00 01 00 00 00 01 00 00
000100f0 00130182 00000000 01960000 00000000 00000000 000000 kit type=3
000000f0 00000000 00000000 00000000 00000000 0000

[2020-03-11 20:53] ssj71 commented on #10
are these a hard hit followed by a soft hit?

[2020-03-11 20:58] kicker0429 commented on #10
@ssj71 , unfortunately they are random.  I tried hitting the same place on the cymbal with the same force and I got different results each time.  Is it possible to exclude everything after 000100f0 00130012 for example?  The different output occurs in the fifth group of characters, so maybe there is a way to ignore everything after the first two groups.

[2020-03-11 22:01] ssj71 commented on #10
that sounds like we may have 2 issues then, one with the notes getting corrupted by the velocity data and the velocity data being inaccurate.

I wouldn't want to ignore that velocity data, as thats a valuable feature for the set. We could ignore it and go to a simple "hit or not" style using the flags in bytes 6 and 7, but I think thats a last resort. I think the data is probably in a little endia

[2020-03-11 22:24] kicker0429 commented on #10
@ssj71 , the good news is that the pads are working perfectly.  They always play the correct notes and the output gets louder the harder that they are struck.  As for generating more scientific data for the cymbals, I could try to drop a small weight from measured heights so that we are guaranteed to get progressively harder strikes and maybe you can discern a pattern with the USB output.  What do

[2020-03-11 23:07] ssj71 commented on #10
We can try that. The only thing I can think of is that the sensitivity of the cymbals must be way higher than the pads or something. I notice that the unwanted notes the cymbals are producing are the notes assigned to the matching colored pads.  I'm trying to figure out what would be causing it to miss the flag that the data is for the cymbal not the pad, because looking at that log the data is cl

[2020-03-11 23:12] ssj71 commented on #10
maybe for simplicity's sake just try without any hat mode flags enabled and check if that gives any different results at all.

[2020-03-12 01:54] kicker0429 commented on #10
When I use ./rbdrum2midi -r 38 -y 45 -b 43 -g 41 -ob 36 -bkb 44 -j -v, I do not get any MIDI output.

[2020-03-12 05:27] ssj71 commented on #10
sorry, please try ./rbdrum2midi -r 38 -y 45 -b 43 -g 41 -ycy 46 -bcy 49 -gcy 51 -ob 35 -bkb 44 -j -v

[2020-03-12 16:18] kicker0429 commented on #10
@ssj71 , the results are the same.  Can we try to see if excluding everything after the first two groups results in accurate MIDI output?  I know that we want to preserve the velocity information, but being accurate is more important in my opinion.

[2020-03-12 16:33] ssj71 commented on #10
alright, I changed it to ignore velocity data when the cymbals are hit. Pads should work the same still.

[2020-03-12 16:57] kicker0429 commented on #10
@ssj71 , the cymbals are still randomly playing the same notes as the pads.

[2020-03-12 17:01] ssj71 commented on #10
does 1 hit produce 2 notes or just sometimes the cymbal hits produce pad notes?

Are you trimming the data you are posting? I'm wondering the message before or after the hit might be affecting the result. If you can identify any pattern of when it sends the wrong note that would help. For now I really don't know what's causing it.

[2020-03-12 17:01] kicker0429 commented on #10
@ssj71 , does this happen on the PS3 drum kit?  Both are made by the same company, so I would expect the same results.

[2020-03-12 17:05] ssj71 commented on #10
I don't have a PS3 drum kit so I can't test it. I've also never heard any reports of it having this issue.

[2020-03-12 17:07] kicker0429 commented on #10
@ssj71 , I know how to make jack_midi_dump show a timestamp when it outputs, but not the USB data.  The best that I can do is show each output in separate messages and then you can paste them into two text editor tabs and do a side-by-side comparison.  Will that work for you?

[2020-03-12 17:11] ssj71 commented on #10
I can probably correlate them if the number of events is the same

[2020-03-12 17:13] kicker0429 commented on #10
MIDI output:
 869823: 89 2d 00 note off (channel  9): pitch  45, velocity   0
 869824: 99 2d 7f note on  (channel  9): pitch  45, velocity 127
 947775: 89 2e 00 note off (channel  9): pitch  46, velocity   0
 947775: 99 2e 7d note on  (channel  9): pitch  46, velocity 125
1023423: 89 2e 00 note off (channel  9): pitch  46, velocity   0
1023424: 99 2e 7d note on  (channel  9): pitch  46, velocity 1

[2020-03-12 17:14] kicker0429 commented on #10
USB output:
   VV          VV
00 85 00 00 00 85 00 00
000100f0 00130000 00000000 55d60000 00000000 00000000 000000 kit type=3
   VV          VV
00 01 00 00 00 01 00 00
000100f0 00130182 00000000 01a90000 00000000 00000000 000000 kit type=3
000000f0 00000000 00000000 00000000 00000000 00000000 000000 kit type=3
000100f0 00130182 00000000 00000000 00000000 00000000 000000 kit type=3
000100f0 0013000

[2020-03-12 17:44] ssj71 commented on #10
still not seeing much. Since we're ignoring the velocity data of the cymbals anyway I'm trying to clear the state of the pads whenever the cymbals are hit. I also added a debug print statement whenever a midi note is sent from the pads or cymbals, that way you shouldn't need to worry about the midi_dump

[2020-03-12 17:48] kicker0429 commented on #10
Ok, what exactly do you need from me?

[2020-03-12 17:56] kicker0429 commented on #10
@ssj71 , do you want me to do the same as before, i.e. hit the same cymbal several times and see if it plays different MIDI notes?

[2020-03-12 17:59] ssj71 commented on #10
yeah, sorry I was unclear. Pull the latest changes and hit the yellow cymbal and yellow pad a few times each.

[2020-03-12 18:12] kicker0429 commented on #10
@ssj71 , I hope that this helps:
[erik@KITCHEN ~]$ ./rbdrum2midi -r 38 -y 45 -b 43 -g 41 -ycy 46 -bcy 49 -gcy 51 -ob 36 -bkb 44 -htdm ycy -htp bkb -hto 46 -htc 42 -j -v
XBox 360 Wireless Rockband Pro kit found
claimed interface
opening client...
creating ringbuffer...
assigning process callback...
Rock Band pro drum kit connected.
midi out cymbal note 46
               VV
00 00 00 00 00 01 00 00
0

[2020-03-12 19:20] ssj71 commented on #10
midi out cymbal note 46
VV
00 00 00 00 00 86 00 00
000100f0 00130182 00000000 56a90000 00000000 00000000 000000 kit type=3
000000f0 00000000 00000000 00000000 00000000 00000000 000000 kit type=3
000100f0 00130000 00000000 00000000 00000000 00000000 000000 kit type=3
000000f0 00000000 00000000 00000000 00000000 00000000 000000 kit type=3
midi out cymbal note 46
midi out pad note 45 vel 127
VV VV
00

[2020-03-12 21:38] ssj71 commented on #10
well, I threw together a change that will prevent that case, lets try it again.

[2020-03-12 21:57] kicker0429 commented on #10
Here are the new results:
./rbdrum2midi -r 38 -y 45 -b 43 -g 41 -ycy 46 -bcy 49 -gcy 51 -ob 36 -bkb 44 -htdm ycy -htp bkb -hto 46 -htc 42 -j -v
XBox 360 Wireless Rockband Pro kit found
claimed interface
opening client...
creating ringbuffer...
assigning process callback...
Rock Band pro drum kit connected.
midi out pad note 45 vel 127
   VV          VV
00 86 00 00 00 86 00 00
000100f0 00130000 000

[2020-03-12 22:04] ssj71 commented on #10
of course I messed it up. Please try again with the latest changes. Sorry this takes so long, its difficult when I don't have access to the hardware to quickly try things.

[2020-03-12 22:13] kicker0429 commented on #10
./rbdrum2midi -r 38 -y 45 -b 43 -g 41 -ycy 46 -bcy 49 -gcy 51 -ob 36 -bkb 44 -htdm ycy -htp bkb -hto 46 -htc 42 -j -v
XBox 360 Wireless Rockband Pro kit found
claimed interface
opening client...
creating ringbuffer...
assigning process callback...
Rock Band pro drum kit connected.
000100f0 00130182 00000000 00800000 00000000 00000000 000000 kit type=3
000000f0 00000000 00000000 00000000 00000000 0

[2020-03-12 22:21] ssj71 commented on #10
ok, I've got another one to try.

[2020-03-12 22:28] kicker0429 commented on #10
./rbdrum2midi -r 38 -y 45 -b 43 -g 41 -ycy 46 -bcy 49 -gcy 51 -ob 36 -bkb 44 -htdm ycy -htp bkb -hto 46 -htc 42 -j -v
XBox 360 Wireless Rockband Pro kit found
claimed interface
opening client...
creating ringbuffer...
assigning process callback...
Rock Band pro drum kit connected.
00f80200 00000000 00000000 00000000 00000000 00000000 000000 kit type=3
midi out pad note 45 vel 127
   VV          VV

[2020-03-12 22:58] ssj71 commented on #10
Ok, I see one thing I did wrong there. Please try again.

[2020-03-13 01:30] kicker0429 commented on #10
@ssj71 , it works!
./rbdrum2midi -r 38 -y 45 -b 43 -g 41 -ycy 46 -bcy 49 -gcy 51 -ob 36 -bkb 44 -htdm ycy -htp bkb -hto 46 -htc 42 -j -v
XBox 360 Wireless Rockband Pro kit found
claimed interface
opening client...
creating ringbuffer...
assigning process callback...
Rock Band pro drum kit connected.
midi out cymbal note 46
               VV
00 00 00 00 00 01 00 00
000100f0 00130182 00000000 01a900

[2020-03-13 02:44] ssj71 commented on #10
Woohoo! You should be able to use it with midi and everything. I'll clean it up tomorrow. The more you can verify the better. Let me know anything you find. Thanks.

[2020-05-04 14:29] BPouet opened #14 "OSX BUILD"
Hi!
I would like to test the rbdrum2midi with RB2 GUITAR + RB3 GUITAR + RB2 DRUM + RB3 DRUM + RB3 KEYTAR. All Playstation.
I only code arduino so I understand a bit of the code but not used to it.
Would it be possible to release a build for osx?
If not, I will try to push on Cmake and follow your instructions.
Cheers!

[2020-05-05 05:13] ssj71 commented on #14
I believe it should work, the hard part is getting libraries that it will depend on such as libusb-1.0. That's probably available using homebrew, but I don't really deal with OSX much. Let me know what obstacles you hit and I'll try to help out where I can.

[2020-05-05 12:26] BPouet commented on #14
I will give it a try. I see that in Cmake you can do a unix makefiles which should on OSX work but I think I will investigate homebrew. Thanks for the quick respond! Really appreciated it!

[2020-05-07 02:10] BPouet commented on #14
Hi ssj71,

I have read and done some test, I shall need some guidance.

This is what I did

`TO INSTALL HOMEBREW
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"

TO INSTALL libusb1.0 LIBRARY
brew install libusb

TO INSTALL LIBJACK
brew install jack

TO INSTALL libasound2
brew install portaudio

TO INSTALL CMAKE IN BREW
Brew install cmake

`
After t

[2020-05-07 04:52] ssj71 commented on #14
try first 'brew install pkg-config' then run it in the build directory. I think it should be identical in either one, but I'm not sure. Thanks for trying so much! Let me know the results after installing pkg-config and trying to run 'cmake ..' in the build directory again.

[2020-05-07 14:07] BPouet commented on #14
I did install pkg-config and it seems to change nothing.
If I add 'project(rbdrum2midi)' in cmakelist and delete every line with ALSA, i am able to complete a build.
I come to understand that ALSA is our problem and the library is not for mac, PORTAUDIO is the solution.
Which mean the alsadriver.c would need to be convert to portaudiodriver.c with coding.

This project seems to have done it and ca

[2020-05-07 16:55] ssj71 commented on #14
Yes that makes sense. ALSA is a linux specific driver. The proper thing is to have Cmake check which platorm it is building on and only build alsa if appropriate. As for a portaudio solution, I don't know that I'll have time to make such an effort, is using the JACK driver acceptable to you? Are you familiar with using JACK?

[2020-05-08 20:15] BPouet commented on #14
Forget about portaudio. If Jack is compatible with your script than Iet's keep it simple.
The jack driver app doesn't seems to work on Mac 10.15 catalina (64 bits only) but qjackctl works.
It seems like it is an audio matrix, i am testing it.
Give me a day to play with it and check tutorials.
Thanks!

[2020-05-11 02:31] BPouet commented on #14
Ok I think I figure it out with Jack.
I installed Jack V0.3.6
Use this link to setup the server
https://ccrma.stanford.edu/software/openmixer/manual/using_netjack/netjack-under-osx

How do you use jack with rbdrum2midi?
Compile a version without alsa?
I should be able to see rbdrum2midi into the connection of jack?
Thanks again!

[2020-05-11 16:22] ssj71 commented on #14
just run `rbdrum2midi -j` with the `-j` argument

yes, this isn't something I've ever tried, but it shouldn't require huge changes to the code or build system. You mentioned commenting out some alsa stuff, have you been able to make a build?

yes, with qjackctl IIRC there are 2 different tabs in the connection window for midi, one is JACK midi and the other (at least on linux) is ALSA midi. Watch

[2020-05-13 01:41] BPouet commented on #14
I was able to compile and install by removing every line about alsa. Including &aseqq.
When I run rbdrum2midi -j with the dongle plug in I get :
 usb_claim_interface error -3 (busy=-6)
Error: MIDI driver setup failed.

I also noticed that the only driver that has midi_driver is alsa.
This means there may not be any midi for jack on mac.
I think this is related. I think I reached the end point.
Do

[2020-05-13 05:00] ssj71 commented on #14
Jack is a midi driver as well, there's no other reason for it to be part of this project. I think we are actually hitting USB permissions or other errors. I'm not sure if OSX is claiming the USB device as soon as you plug it in or something, but I'd search about USB device busy under libusb-1.0 on OSX. It may give some insight.

[2020-11-23 01:10] YvanQu commented on #14
I managed to get the same error. Apparently libusb can't unload a kext in OSX, the way to do this would be use HIDAPI as a cross-platform wrapper that uses libusb for linux and whatever works on OSX for OSX. Right now it might be possible to manually find and unload the kext, but thats a serious PITA, especially if you want to keep using your drums for clone hero

[2020-11-24 05:49] ssj71 commented on #14
I unfortunately don't have access to an OSX computer so I am not able to support you in this. I'd be happy to merge a pull request though if someone can resolve this issue.

[2020-11-27 03:24] YvanQu commented on #14
I tried messing around with it a bit, but it ended up being easier to tweak miditar hero. cheers!

[2022-03-25 00:03] LaserTron opened #15 "Not compiling"
Hi, I'm trying to compile this in Manjaro Linux. Following the instructions
[code]
produces the following:
[code]
But produces the following errors
[code]

[2022-03-28 21:08] thesteg commented on #15
Could be wrong but think the do_exit variable needs to be declared in the main.c file and marked extern in the mididrum.h file.

Try just adding the line `int do_exit;` somewhere near the top of main.c, just under the #includes and popping an extern keyword at the start of the int do_exit line in the mididrum.h. (makes `extern int do_exit;`).

[2022-03-28 21:30] randomas commented on #15
Hey there great to see people still interested in this! I fear the codebase is a little old Last time I tried compiling it was ubuntu 10.04, and possibly a test in 14.04. I fear compilers have become a little more finniky and the code base probably needs cleaning up accordingly. I'll give it a swirl as soon as I have access to a pc with a compiler on it. If you find a solution please let us know.

[2022-03-28 21:53] thesteg commented on #15
Created a pull request, it now compiles but no way of knowing if it works as I no longer have the hardware!

[2022-03-29 14:32] randomas commented on #15
Fantastic, I still have the hardware, unfortunately it's in storage. I may get permission from the wife to make a mess in the house and pull it out, but not for the next few days at least. If the Op can test and let us know that would be great!

[2022-03-29 16:31] LaserTron commented on #15
@thesteg, it compiles! I'll try it out tonight when I get back home.

[2022-03-30 15:03] LaserTron commented on #15
Plugging in my game drum pad and running as root makes a midi thing show up, but I haven't been able to make any noise from it yet. I have a midi keyboard and that pretty much works out of the box.

![Screenshot from 2022-03-29 18-38-32](https://user-images.githubusercontent.com/12416002/160866739-b752e2e2-4ff6-4650-8e8d-bf42ef41ec8b.png)

[2022-03-30 15:19] randomas commented on #15
Have you tried with hydrogen, that's what it was originally set up for. This is a picture from an old version on sourceforge, but should still be about the same.  You should connect the drumkit client to hydrogen and hydrogen to out.
![image](https://user-images.githubusercontent.com/10617922/160868963-909f622d-3c1d-442a-a5da-4b3e3a010923.png)

[2022-03-30 15:23] LaserTron commented on #15
I actually did hook up the drum kit to hydrogen in Jack and it didn't work, that said, midi is finnicky and so are various application settings. What is the application you have in the terminal? Is it something that shows all the midi messages? I could probably use that to see if anything at all is being picked up from the drum kit (which I bought at a thrift store).

[2022-03-30 18:43] ssj71 commented on #15
There is a terminal application called `jack_midi_dump` that  creates a jack midi client and prints out all received messages.. Very handy.

[2022-03-30 20:54] randomas commented on #15
The terminal in the picture is just showing rbdrum2midi running in debug mode. There should be a command line option otherwise there's a switch to uncomment in the opening lines in the main source file. I'd need to check.

[2022-03-30 21:51] ssj71 commented on #15
Just pass the arguments `-dbg -v` to make it verbose debug mode

[2022-03-31 21:04] LaserTron commented on #15
Great news! Something is definitely being picked up! I think it's just a question of configuring my software to talk through midi properly.
![Screenshot from 2022-03-31 18-02-39](https://user-images.githubusercontent.com/12416002/161149045-c2d571df-9b3b-4aa8-a5fa-db4adf39a0d1.png)

[2022-04-01 00:05] LaserTron commented on #15
Okay, so although `rbdrum2midi -dbg -v` shows events as I hit the pads I couldn't get any sounds in Hydrogen. I used
`amidi -p virtual -d` which creates a virtual midi port and writes to the terminal. (`jack_midi_dump` doesn't seem to be provided by my distro)

Events shown in the output of  `rbdrum2midi -dbg -v` don't show up in the output of `amidi -p virtual -d`. To test I also hooked up my mid

[2022-04-01 21:51] ssj71 commented on #15
the `-dbg` flag disables midi so you should remove it once you are confident that the drumkit is picking up your hits properly. I'm still not confident that it is. If you just run `rbdrum2midi -v -rb1` what does the terminal output look like when you hit drums?

Also I'm not familiar with using amidi as a midi monitor instead of jack_midi_dump. If it's working for you no need to change, but if you

[2022-04-01 23:11] LaserTron commented on #15
It works more now! `amidi` outputs midi events. I plug the drums into Hydrogen and when I hit the pads the midi-in light lights up. Still no sound in Hydrogen. I plugged it into `qsynth` as well and again the midi lights up when I tap the pads, but no sound is produced. Let me know if you want more info.

I'll try tinkering with options in the programs.

[2022-04-01 23:18] LaserTron commented on #15
Mini update, without the `-rb1` flag nothing works: hydrogen, amidi and qsynth don't report midi input.

[2022-04-04 20:55] ssj71 commented on #15
yes, from the data I see in your screenshot above your kit is the "rockband 1" style where there is no information about how hard you hit like there is in the "pro" kits. You'll always need the -rb1 flag to specify that the driver shouldn't watch for said data. There are quite a few possible reasons why you might not be getting sound out of H2 or qsynth. Make sure the drum is outputting on the cor

[2022-04-21 05:05] ssj71 commented on #15
Are we ok to close this then?

[2022-11-19 04:41] puck opened #17 "Add CC MIDI messages for other buttons on RB1 drum set"
Hey,

I've just set up rbdrum2midi with a Wii Rockband 1 drum set and noticed that while rbdrum2midi sees the button presses for the +/- and rocker buttons, no MIDI messages are sent. Would it be possible to add these?

[code]

Currently the 1/2/A/B buttons all send the drum pad MIDI messages (1= Blue, 2 = Yellow, A = Green, B = Red), but looking in the verbose output, they are received differentl